'.source.js':
  'Controller Stub':
    'prefix': '_cc'
    'body': """
      (function() {

        'use strict';

        var app = angular.module('nova'),
            controllerId = '${1:name}CollectionController';

        app.controller(controllerId, ['$scope', 'config', 'common', 'events', '${1:name}CollectionFactory', controller]);

          function controller($scope, config, common, events, ${1:name}CollectionFactory) {

          // initialize controller
          _initialize();

          ///////////////////////////////////////////////
          // Event handlers                            //
          ///////////////////////////////////////////////


          ///////////////////////////////////////////////
          // Scope Methods                             //
          ///////////////////////////////////////////////


          ///////////////////////////////////////////////
          // Private Methods                           //
          ///////////////////////////////////////////////

          /**
          * Initialize controller
          *
          * @private
          * @method _initialize
          **/
          function _initialize() {
            _prepareScope();
            common.$broadcast(events.controllerActivateSuccess, { controllerId: controllerId });
          };
          /**
          * Prepare initial values for the controller's scope
          *
          * @private
          * @method _prepareScope
          **/
          function _prepareScope() {
            $scope.${1:name}Collection = new ${1:name}CollectionFactory.${2:entity}();

            $scope.${3:optionsName}Table = {
              // enableSelection: true,
              // filterContext: undefined,
              // batchContext: undefined,
              getData: function(opts) { return $scope.${1:name}Collection.search(opts); }
            }

          };
        }
      })();
      """
