'.source.js':
  'Controller Stub':
    'prefix': '_c'
    'body': """
      (function() {

        'use strict';

        var app = angular.module('nova'),
            controllerId = '${1:name}Controller';

        app.controller(controllerId, ['$scope', 'config', 'common', 'events', controller]);

          function controller($scope, config, common, events) {

          // initialize controller
          _initialize();

          ///////////////////////////////////////////////
          // Event handlers                            //
          ///////////////////////////////////////////////


          ///////////////////////////////////////////////
          // Scope Methods                             //
          ///////////////////////////////////////////////


          ///////////////////////////////////////////////
          // Private Methods                           //
          ///////////////////////////////////////////////

          /**
          * Initialize controller
          *
          * @private
          * @method _initialize
          **/
          function _initialize() {
            _prepareScope();
            common.$broadcast(events.controllerActivateSuccess, { controllerId: controllerId });
          }
          /**
          * Prepare initial values for the controller's scope
          *
          * @private
          * @method _prepareScope
          **/
          function _prepareScope() {
          }
        }
      })();
      """
