'.source.js':
  'Public Function':
    'prefix': '_pubf'
    'body': """
      /**
      * ${1:description}
      *
      * @method ${2:name}
      **/
      function ${2:name}() {
      };
      """
