'.source.js':
  'Scope Method':
    'prefix': '_sm'
    'body': """
      /**
      * ${1:description}
      *
      * @method ${2:name}
      **/
      $scope.${2:name} = function() {
      };
      """
