'.source.js':
  'Describe':
    'prefix': '_desc'
    'body': """
      describe('${1:description}', function() {

          beforeEach(function () {
                // code that executes before every test
          });

          it('${2:test}', function () {

              // SETUP

              // EXECUTE
              
              // TEST RESULTS

          });


      });
      """
