'.text.html':
  'View Section':
    'prefix': '_vs'
    'body': """
      <!-- ${1:section comment} -->
      <div id="${2:id}-section" class="row well">
        <div class="col-md-2">
            <dl>
                <dt>${3:section title}</dt>
                <dd class="text-muted">
                </dd>
            </dl>
        </div>

        <div class="col-md-10">
        </div>
      </div>
      """
